/* Section Welcome Style Start */

.section-welcome {
    margin-top: 60px;
}
.section-welcome h2 {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 100px;
    padding-bottom: 30px;
    text-align: center;
}

/* Welcome Section Style End */

/* Section 1 Style Start */
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 150px;
}
.section1 form {
    display: flex;
    flex-direction: column;
}
.section1 h3 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30px;
}
.section1 label {
    padding-bottom: 8px;
    padding-top: 30px;
}
.section1 input, select {
    border: 1px solid #000000;
    padding: 8px 12px;
    border-radius: 7px;
    height: 40px;
    width: 706px;
}
.section1 input:hover, select:hover{
    background-color: #E8E6E6;
}
.section1 input:focus, select:focus{
    background-color: #E8E6E6;
}
#options {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding-left: 10px;
    letter-spacing: 1px;
}
textarea {
    resize: none;
    width: 706px;
    height: 92px;
    border: 1px solid #000000;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    color: #000000ba;
}
textarea:hover, textarea:focus {
    background-color: #E8E6E6;
}
textarea::placeholder {
    font-size: 16px;
    color: #000000ba;
    font-weight: 450;
    font-family: "Montserrat", sans-serif;
}
form button{
    margin-top: 25px;
    color: #FFFFFF;
    font-size: 16px;
    width: 224px;
    height: 43px;
    border: 1px solid #000000;
    background-color: #000000;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}
form button:hover {
    transition: 0.3s;
    animation: ease-in;
    background-color: #FFFFFF;
    color: #000000;
}

/* Section 2 Style End */

/* Tablet Media */
@media screen and (max-width:1023px){
    .section-welcome {
        margin-top: 30px;
    }
    .section-welcome h2 {
        font-size: 55px;
    }
    .section1 input, select, textarea {
        width: 600px;
        align-self: center;
    }
}
/* Mobile Media */
@media (max-width: 767px) {
    .section-welcome {
        margin-top: 30px;
    }
    .section1 {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .section-welcome h2 {
        font-size: 40px;
        font-weight: 300;
    }
    .section1 input, select, textarea {
        width: 400px;
    }
    .section1 h3 {
        align-self: center;
        padding-right: 100px;
        width: 400px;
        font-size: 30px;
        font-weight: 300;
        padding-bottom: unset;
    }
}